<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>

        <%- include('_header') %>

        <%- body %>   <!-- variable part it is filled by home or user page code -->

        <%- include('_footer') %>
    </body>
</html>